$centro: center;
$inline: inline;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.row:before, .row:after{
  content: " ";
  display: table;
}

.row:after{
  clear: both;
}

[class*="col-"]{
  min-height: 7px;
  padding: 12px;
  float: left;
}

.templateRow{
  content: " ";
  display: table;
}

.row{
  &:before{
    @extend .templateRow;
  }
  &:after{
    @extend .templateRow;
    clear: both;
  }
}

@function anchoDeColumnas($i){
  @return percentage(($i/12));
}

@for $i from 1 through 12{
  .col-#{$i}{
    width: anchoDeColumnas($i);
  }
}

@for $i from 1 through 12{
  .col-#{$i}-offset{
    margin-left: anchoDeColumnas($i);
  }
}

header{
  text-align: center;
}

li{
  display: $inline;
}
